<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/last.css">
    <title>{{{title}}}</title>
    <meta property="og:title" content="{{ og.title }}">
    <meta property="og:description" content="{{ og.description }}">
    <meta property="og:url" content="{{ og.url }}">
    <meta property="og:image" content="{{ og.image }}">
    <meta property="og:type" content="{{ og.type }}">
    <meta property="og:locale" content="{{ og.locale }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/template">New Post</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>
</html>