{{#each stories}}
    <ul>
        <li class="flex">
            <h1>{{this.title}}</h1>
            <p>{{this.name}}</p>
            <P>{{this.state}}</P>
            <a href="/stories/{{this._id}}">View</a>
            <div class="container">
                <form method="POST" action="/story/{{this._id}}?_method=DELETE">
                    <button type="submit">Delete Story</button>
                </form>
            </div>
        </li>
    </ul>
{{/each}}