<div class="container">
    <h1>{{story.title}}</h1>
    <p>{{story.content}}</p>
</div>
<div class="container">
    <h3>{{story.name}}</h3>
    <p>{{story.state}}</p>
    <p>{{story.phone}}</p>
    <p>{{story.email}}</p>
</div>